<?xml version="1.0"?>
<launch>
  <!-- Launch the rosserial_python node -->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>

  <node name="serial_node1" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>

  <node name="pixel_publisher" pkg="suitcase" type="test_video_publisher_copy.py">
  </node>

  <node name="PID" pkg="suitcase" type="PID.py">  </node>

  <node name="listener" pkg="suitcase" type="listener.py">  </node>


</launch>
